<!DOCTYPE HTML>
<html>
	<head>
		<title>Duty Schedule - Sr2ScG</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta name="author" content="Chock">
		<meta name="og:title" content="Duty Schedule - Sr2ScG">
		<meta name="og:description" content="Duty schedule made exclusively for Sr2ScG out of boredom.">
		<meta name="og:site_name" content="Duty Schedule - Sr2ScG">
		<meta name="og:type" content="website">
		<link rel="stylesheet" href="./main.css"/>
	</head>
	<body>
		<div id="transition" class="white"></div>
		<div class="error">
			<div class="error-container">
				<h2>Whoops!</h2>
				<p>Unknown Error</p>
				<ok class="error-button" onclick="closealert()">Okay</ok>
			</div>
		</div>

		<div class="wrapper">
			<div class="inner">
				<h1 id="countdown-title" class="show" style="opacity:0">Duty selection countdown</h1>
				<div id="countdown" class="show" style="opacity:0">
					<div id="hours"><h2>0</h2><p>H</p></div>
					<div id="minutes"><h2>0</h2><p>M</p></div>
					<div id="seconds"><h2>0</h2><p>S</p></div>
				</div>
				<div id="panel" style="opacity:0">
					<h1 style="padding-bottom: 2em;">Pick your name</h1>
					<select id="name"></select>
					<ul class="actions">
						<li style="width: 100%;padding-top: 5em"><a onclick="enter()" class="button scrolly" style="width:30em">Enter</a></li>
					</ul>
				</div>
				<div id="table" style="opacity:0">
					<h1 style="padding-bottom: 2em;">Pick your duty</h1>
					<table>
						<tr>
							<th>Duty Day</th>
							<th colspan="2"><img src="./broom.svg" width="45px" height="45px"/></th>
							<th colspan="2"><img src="./mop.svg" width="45px" height="45px"/></th>
							<th><img src="./trashcan.svg" width="45px" height="45px"/></th>
							<th><img src="./whiteboard.svg" width="45px" height="45px"/></th>
							<th><img src="./window.svg" width="45px" height="45px"/></th>
							<th><img src="./desk.svg" width="45px" height="45px"/></th>
						</tr>
						<tr>
							<th>Monday</th>
							<td><a onclick="pick('00')">Pick</a></td>
							<td><a onclick="pick('01')">Pick</a></td>
							<td><a onclick="pick('02')">Pick</a></td>
							<td><a onclick="pick('03')">Pick</a></td>
							<td><a onclick="pick('04')">Pick</a></td>
							<td><a onclick="pick('05')">Pick</a></td>
							<td><a onclick="pick('06')">Pick</a></td>
							<td><a onclick="pick('07')">Pick</a></td>
						</tr>
						<tr>
							<th>Tuesday</th>
							<td><a onclick="pick('10')">Pick</a></td>
							<td><a onclick="pick('11')">Pick</a></td>
							<td><a onclick="pick('12')">Pick</a></td>
							<td><a onclick="pick('13')">Pick</a></td>
							<td><a onclick="pick('14')">Pick</a></td>
							<td><a onclick="pick('15')">Pick</a></td>
							<td><a onclick="pick('16')">Pick</a></td>
							<td><a onclick="pick('17')">Pick</a></td>
						</tr>
						<tr>
							<th>Wednesday</th>
							<td><a onclick="pick('20')">Pick</a></td>
							<td><a onclick="pick('21')">Pick</a></td>
							<td><a onclick="pick('22')">Pick</a></td>
							<td><a onclick="pick('23')">Pick</a></td>
							<td><a onclick="pick('24')">Pick</a></td>
							<td><a onclick="pick('25')">Pick</a></td>
							<td><a onclick="pick('26')">Pick</a></td>
							<td><a onclick="pick('27')">Pick</a></td>
						</tr>
						<tr>
							<th>Thursday</th>
							<td><a onclick="pick('30')">Pick</a></td>
							<td><a onclick="pick('31')">Pick</a></td>
							<td><a onclick="pick('32')">Pick</a></td>
							<td><a onclick="pick('33')">Pick</a></td>
							<td><a onclick="pick('34')">Pick</a></td>
							<td><a onclick="pick('35')">Pick</a></td>
							<td><a onclick="pick('36')">Pick</a></td>
							<td><a onclick="pick('37')">Pick</a></td>
						</tr>
						<tr>
							<th>Friday</th>
							<td><a onclick="pick('40')">Pick</a></td>
							<td><a onclick="pick('41')">Pick</a></td>
							<td><a onclick="pick('42')">Pick</a></td>
							<td><a onclick="pick('43')">Pick</a></td>
							<td><a onclick="pick('44')">Pick</a></td>
							<td rowspan="2"><a onclick="pick('45')">Pick</a></td>
							<td rowspan="2"><a onclick="pick('46')">Pick</a></td>
							<td rowspan="2"><a onclick="pick('47')">Pick</a></td>
						</tr>
						<tr>
							<th>Saturday</th>
							<td><a onclick="pick('50')">Pick</a></td>
							<td><a onclick="pick('51')">Pick</a></td>
							<td><a onclick="pick('52')">Pick</a></td>
							<td><a onclick="pick('53')">Pick</a></td>
							<td><a onclick="pick('54')">Pick</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<script>const tabledata = <%- tabledata %>;const cdtime = <%= cdtime %></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="./main.js"></script>

	</body>
</html>
